.form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.error {
    background: var(--color-red);
    color: var(--color-white);
    font-size: 0.8rem;
    padding: 0.6rem 1rem;
    border-radius: var(--radius-1);
    display: block;
    margin: 1rem 0;
}
.main {
    width: var(--form-width);
    margin-inline: auto;
    height: calc(100vh - 12rem);
    display: grid;
    place-items: center;
}
.container {
    transition: var(--transition);
    padding: 0rem 4rem 4rem;
}
.container:hover {
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
}
.title {
    margin-bottom: 2rem;
}
.information {
    margin-top: 1.5rem;
}
.information_primary {
    color: var(--color-primary);
    cursor: pointer;
    text-decoration: underline;
}
