.logo {
    height: 3rem;
}
.navbar {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 5rem;
    background: var(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 4px solid var(--color-bg);
    backdrop-filter: blur(20px);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.button_toggle {
    display: none;
}
