.input {
    padding: 0.8rem 1.2rem;
    border-radius: var(--radius-1);
    font-size: 1rem;
    width: 100%;
    border: none;
    outline: none;
    resize: ;
    box-sizing: border-box;
}
.text_input {
    margin-bottom: 0.3rem;
}
.input_container {
}
