.btn {
    border: 0;
    display: inline-block;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: var(--radius-2);
    background: var(--color-white);
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition);
}

.btn_primary {
    background: var(--color-primary);
    color: var(--color-white);
}

.btn_category {
    background: var(--color-bg);
    color: var(--color-primary);
    font-size: 0.75rem;
    font-weight: 400;
}
.btn_sm {
    font-size: 0.8rem;
    padding: 0.3rem 0.7rem;
    font-weight: 400;
}

.btn_danger {
    background: var(--color-red);
    color: var(--color-white);
}
.btn:hover {
    background: var(--color-gray-900);
    color: var(--color-white);
}
.container {
    width: var(--container-width-lg);
    margin-inline: auto;
}
.center {
    text-align: center;
    padding-top: 5rem;
    margin-inline: center;
    display: block;
    width: 100%;
}
