.post {
    background: var(--color-white);
    padding: 1rem;
    border-radius: var(--radius-4);
    padding-bottom: 2rem;
    transition: var(--transition);
    cursor: default;
}
.post:hover {
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
}

.post_image {
    width: 100%;
    height: 16rem;
    overflow: hidden;
    border-radius: var(--radius-3);
}

.post_image_img {
    width: 100%; /* растягиваем по ширине контейнера */
    height: 100%;
    object-fit: cover;
    display: block;
}
.post_content {
    margin-top: 1.5rem;
}

.post_title {
    margin: 1rem 0 0.6rem;
}

.post_footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2rem;
}
