.container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.post_title {
}
.thumbnail {
    width: 4rem;
    border-radius: var(--radius-1);
    overflow: hidden;
}
.info {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2rem;
}
.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background: var(--color-white);
    padding: 0.5rem 1.2rem;
    border-radius: var(--radius-3);
}
