.copyright {
    text-align: center;
    border-top: 2px solid var(--color-gray-700);
    padding: 1rem;
    color: var(--color-white);
    font-weight: 300;
}
.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    gap: 1.5rem;
}
.footer {
    background: var(--color-gray-900);
    margin-top: 6rem;
    padding-top: 6rem;
}
.categories_item {
    /* background: var(--color-gray-700); */
    color: var(--color-white);
    padding: 0.6rem 1.4rem;
    border-radius: var(--radius-2);
    transition: var(--transition);
}
.categories_item:hover {
    background: var(--color-white);
    color: var(--color-gray-900);
}
