.copyright {
    text-align: center;
    border-top: 2px solid var(--color-gray-700);
    padding: 1rem;
    color: var(--color-white);
    font-weight: 300;
}
.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    gap: 1.5rem;
}
.footer {
    background: var(--color-gray-900);
    margin-top: 6rem;
    padding-top: 6rem;
}
.categories_item {
    /* background: var(--color-gray-700); */
    color: var(--color-white);
    padding: 0.6rem 1.4rem;
    border-radius: var(--radius-2);
    transition: var(--transition);
}
.categories_item:hover {
    background: var(--color-white);
    color: var(--color-gray-900);
}
@media screen and (max-width: 1150px) {
    .categories {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        text-align: center;
    }
    .footer {
        margin-top: 4.5rem;
        padding-top: 4.5rem;
    }
}
@media screen and (max-width: 800px) {
    .categories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        text-align: center;
    }
    .footer {
        margin-top: 3rem;
        padding-top: 3rem;
    }
}
@media screen and (max-width: 560px) {
    .categories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        text-align: center;
    }
    .footer {
        margin-top: 2rem;
        padding-top: 2rem;
    }
}
