.title {
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}
.author {
    background: var(--color-white);
    padding: 1rem;
    border-radius: var(--radius-3);
    display: flex;
    gap: 1rem;
    transition: var(--transition);
}
.author:hover {
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.07);
}
.avatar {
    width: 5rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: 0.3rem solid var(--color-bg);
    overflow: hidden;
}
.info {
}
.info_name {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.info_posts {
}
